{% extends 'base.html' %}

{% block meta %}
    {% load static %}
    <title>Main Page</title>
{% endblock meta %}

{% block content %}
<style>

    body {
        font-family: "Trebuchet MS", Arial, sans-serif;
        background-color: #DAFFFB;
        color: #333;
        margin: 0;
        padding: 0;
    }

    nav {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    .container {
        max-width: 1400px;
        margin: 20px auto;
        padding: 40px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .product {
        border: 1px solid #ddd;
        padding: 20px;
        margin: 20px;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .product img {
        max-width: 100%;
        height: auto;
    }

    .product h3 {
        font-size: 24px;
        color: #333; 
    }

    .product h1 {
        font-size: 36px;
        color: #333; 
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .product p {
        font-size: 18px;
        color: #777;
    }

   
    .btn {
        background-color: #333;
        color: #fff;
        padding: 5px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 15px;
    }

    .btn:hover {
        background-color: #555; 
    }

   
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
        color: #333;
    }

    th {
        background-color: #f2f2f2;
        color: #555;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {background-color: coral;}
    
    table button {
        background-color: #333;
        color: #fff;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 14px;
    }

    table button:hover {
        background-color: #555;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    
    .label-value {
        display: flex;
        justify-content: space-between;
    }

    
    .label-value h5 {
        margin-right: 10px;
    }

    .last-row {
        background-color: #64CCC5; /* Change this to the color you want */
    }

    tr:last-child {
        background-color: #64CCC5;
    }
    
</style>

<div class="container" style="margin-bottom: 18px;">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">GSS</a>
        <div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:logout' %}"> <p style="font-size: 16px;"> Logout </p></a>
            </li>
          </ul>
        </div>
    </nav>
      

    <h1 style="font-size: 28px; font-weight: bold; text-transform: uppercase; color: #000000; margin-bottom: 20px; margin-top: 10px; margin-left: 0px; justify-content: center; align-items: center;"> Welcome to Gusti's Super Store </h1>
    
    
    <p style="font-size: 20px;"> Let us know what you want from our shop! </p>

    {%comment%} <table class="table table-light">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Edit / Delete ?</th>
            </tr>
        </thead>
        {% comment %} Below is how to show the product data 
        {% with total_rows=products|length %}
        {% for product in products %}
            <tr {% if forloop.counter == total_rows %} class="table-info"{% endif %}>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.date_added}}</td>

                <td>
                    {% if product.pk %}
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button type="button" class="btn btn-primary btn-sm" fdprocessedid="zw3tlc" style="color: #FFFFFF; background-color:#64CCC5">
                            Edit
                        </button>
                    </a>
                    {% endif %}
                    <a href="{% url 'main:delete_product' product.pk %}">
                        <button type="button" class="btn btn-primary btn-sm" fdprocessedid="zw3tlc" style="color: #FFFFFF; background-color:#64CCC5">
                              Delete
                          </button>
                      </a>
                </td>
            </tr>
        {% endfor %}
        {% endwith %}
        
    </table> {% endcomment %}

    <br />

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>

    <table id="product_table"></table>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col">
                <a href="{% url 'main:create_product' %}">
                    <button type="button" style="width: 150px; height: 50px; color: #FFFFFF; background-color: #64CCC5" class="btn btn-primary" fdprocessedid="34hqy">
                        Add Product
                    </button>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'main:logout' %}">
                    <button type="button" style="width: 150px; height: 50px; color: #FFFFFF; background-color: #64CCC5" class="btn btn-primary" fdprocessedid="34hqy">
                        Logout
                    </button>
                </a>
            </div>
            <div class="col">
                    <button type="button" style="width: 150px; height: 50px; color: #FFFFFF; background-color: #64CCC5" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add Product by AJAX
                    </button>
            </div>
        </div>
    </div>


    <p style="font-size: 14px; text-align: center;">Last login session: {{ last_login }}</p>

    <script>
        async function getProducts() {
            return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
        }
    
        async function refreshProducts() {
            document.getElementById("product_table").innerHTML = ""
            const products = await getProducts()
            let htmlString = `<tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Date Added</th>
                <th> Delete? </th>
            </tr>`
            products.forEach((item) => {
                htmlString += `\n<tr> 
                <td>${item.fields.name}</td>
                <td>${item.fields.price}</td>
                <td>${item.fields.description}</td>
                <td>${item.fields.date_added}</td>
                <td> <button style="width: 150px; height: 50px; color: #FFFFFF; background-color: red" class="btn btn-danger" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900" onclick="deleteProduct(${item.pk})">
                    Delete
                </button> </td>
            </tr>` 
            })
            
            document.getElementById("product_table").innerHTML = htmlString
        }
    
        refreshProducts()
    
        function addProduct() {
            fetch("{% url 'main:add_product_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts)
    
            document.getElementById("form").reset()
            return false
        }
    
        document.getElementById("button_add").onclick = addProduct

        function deleteProduct(id) {
            fetch("delete-product-ajax/" + id, {
              method: "POST"
            }).then(refreshProducts)
      
            document.getElementById("form").reset()
            return false
          }
    </script>
{% endblock content %}